
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');


*,
body,
html{
    box-sizing: border-box;
    margin:0;
    padding: 0;


}

#app{
    font-family: 'Roboto', sans-serif;
    background-color: #eff8dd;
    width: 100vw;
    height:100vh;
}
/*
.app-wrapper {
  min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: rgb(184, 146, 219);
    display: flex;
    flex-direction: column;
  }*/
  
  .app-wrapper > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */

  }

  .error {
    color: red;
  }
  
.signup{
  background-color: black;
}


.loginContent{
  display: flex;
  
}