
/* carousel component */

.carousel-inner{
    height: 11rem;
    margin:30px 0 40px;
}

/* header component */

.navbar-collapse{
    
    justify-content: flex-end;
}
.navbar-brand {
    color: black !important;
}
.nav-link {
    color: black !important;
}

button{
    width: 87px;
    height: 45px;
    border-radius: 10px !important;
    background-color: #FBF4F4;
    border: 1px solid #C4C4C4;
    color: #6E8C03;
    margin: 10px;
}

/* card component */
.section-card-body{
    display: flex;
    justify-content: space-between;
    padding: 5px !important;
    margin: 10px;
}
.cardContent{
    width: 10rem;
    height: 20rem;
    margin-right: 50px;
    font-size: 12px;
}

.btn-card{
    padding: 2px !important;
    height: 21px
}
/* Style buttons */
.btn {
    
    border: none; /* Remove borders */
    padding: 2px 6px; /* Some padding */
    font-size: 10px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  
/* search component */


.searchWidth{
    width: 50rem;
    margin: 50px;
}


/* component menu */

.navWidth{
    width: 30rem;
 
}

.sectionCard{
    display: flex;
    flex-wrap: wrap;
   justify-content:space-around;
  margin: 50px;
  
}
