@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap";

*,
body,
html{
    box-sizing: border-box;
    margin:0;
    padding: 0;


}


#app{
    font-family: 'Roboto', sans-serif;
    background-color: #eff8dd;
    width: 100vw;
    height:100vh;
}


/*
.app-wrapper {
  min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: rgb(184, 146, 219);
    display: flex;
    flex-direction: column;
  }*/


.app-wrapper > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }


html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */

  }


.error {
    color: red;
  }


.signup{
  background-color: black;
}


.loginContent{
  display: flex;
  
}
.sectionCenter_9747e2 div:first-child{
    flex:3;
    border: 6px red solid;
}

.sectionCenter_9747e2 div:last-child{
    flex:2;
    border: 6px blue solid;
}


span {
    display: inline-block;
    vertical-align: middle;
    color: red;
}

ul {
    display: block;
    list-style-type: none;
    text-align: right;
}

a {
    color: #FFF;
}

a:hover {
    opacity: 0.7;
}

.menu-global_7b2625:hover {
    left: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

/* carousel component */

.carousel-inner{
    height: 11rem;
    margin:30px 0 40px;
}

/* header component */

.navbar-collapse{
    
    justify-content: flex-end;
}
.navbar-brand {
    color: black !important;
}
.nav-link {
    color: black !important;
}

button{
    width: 87px;
    height: 45px;
    border-radius: 10px !important;
    background-color: #FBF4F4;
    border: 1px solid #C4C4C4;
    color: #6E8C03;
    margin: 10px;
}

/* card component */
.section-card-body{
    display: flex;
    justify-content: space-between;
    padding: 5px !important;
    margin: 10px;
}
.cardContent{
    width: 10rem;
    height: 20rem;
    margin-right: 50px;
    font-size: 12px;
}

.btn-card{
    padding: 2px !important;
    height: 21px
}
/* Style buttons */
.btn {
    
    border: none; /* Remove borders */
    padding: 2px 6px; /* Some padding */
    font-size: 10px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  
/* search component */


.searchWidth{
    width: 50rem;
    margin: 50px;
}


/* component menu */

.navWidth{
    width: 30rem;
 
}

.sectionCard{
    display: flex;
    flex-wrap: wrap;
   justify-content:space-around;
  margin: 50px;
  
}



/*# sourceMappingURL=index.css.map */
