.sectionCenter{
    display:flex;
    justify-content: space-between;
    
}

.sectionCenter div:first-child{
    flex:3;
    border: 6px red solid;
}

.sectionCenter div:last-child{
    flex:2;
    border: 6px blue solid;
}
